body{
    background-color: #003049;
}


.d1{
    display: flex;
    position: relative;
}

.d1 .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #F77F00;
    padding: 30px;
}

.d1 .sidebar h3{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
